<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
<menu>
      <add id="EnvisionXperts_CustomProducts::first_level_demo"
            title="Custom Products Grid"
module="EnvisionXperts_CustomProducts"
sortOrder="20"
resource="Magento_Backend::content" />

<add id="EnvisionXperts_CustomProducts::second_level_demo"
    title="Products Table"
    module="EnvisionXperts_CustomProducts"
    sortOrder="1"
    action="customproducts/product/grid"
    parent="EnvisionXperts_CustomProducts::first_level_demo"
    resource="Magento_Backend::content" />
  </menu>
</config>